.btn.filtres{background-color:#11dbba;}
.btn.filtres-submit, .page-item.active .page-link{background-color: #00c0c7;}
.page-item.active .page-link{border: 1px solid #dee2e6;}
.row.filtres-form{margin-top: 10px!important;}
.page-section h3.section-subheading, button.btn.filtres.btn-sm{margin-bottom: 30px;}
.card.card-body.shadow-sm.p-3.mb-5.bg-white.rounded{background-color: #f8f9fa!important; border: none!important;}
@media (min-width: 320px) and (max-width: 467px){
    body p{font-size: 11px!important;}
    .page-section h2.section-heading{font-size: 35px!important;}
    h4{font-size: 1.3rem!important;}
    .portfolio-modal .modal-content h2, .conditions-modal .modal-content h2{font-size: 1.8rem!important;}
}