.container.views {
    margin-top: 10%;
}

.portfolio-full {
    width: 100%;
}

.portfolio-thumb {
    width: 80%;
}

.portfolio-small {
    width: 30%;
}

li.nav-item.dropdown.show {
    text-transform: initial;
}

i.fa.fa-search.fa-inverse {
    color: #00c0c7;
}

#categories button.btn.btn-outline-info {
    color: #00c0c7;
    border: 1px solid #00c0c7;
    margin: 5px 0;
}

#categories button.btn.btn-outline-info:hover {
    background-color: #00c0c7;
    color: #ffffff;
}

#categories {
    margin-bottom: 2%;
}

.helpmessage {
    text-align: start;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    margin-top: 3%;
}

.label_password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container.views .row form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.7em;
}

form button {
    color: #ffffff !important;
}

form .btn-sm {
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
    background-color: #dee2e6 !important;
    border: 1px solid #dee2e6 !important;
    color: #000 !important;
}

.input-group-text {
    background-color: #fff !important;
    border: 1px solid #ffffff !important;
}

.form-control {
    border: none !important;
}

.btn.filtres-submit, .page-item.active .page-link {
    border: 2px solid #00c0c7;
    background-color: #00c0c7;
}

.input-group {
    border: 1px solid #dee2e6 !important;
}

.btn.filtres-submit:hover, .page-item.active:hover .page-link:hover {
    background-color: #00c0c7;
}

.btn.filtres-submit {
    border-radius: 20px;
}

.page-item.active .page-link {
    border: 1px solid #dee2e6;
}

.row.filtres-form {
    margin-top: 10px !important;
}

.page-section h3.section-subheading, button.btn.filtres.btn-sm {
    margin-bottom: 30px;
    border-radius: 20px;
}

.portfolio-modal .modal-content ul.list-inline {
    text-align: left;
}

.fas.fa-check-square {
    color: green !important;
}

#articles .articles-item {
    right: 0;
    margin: 0 0 15px;
}

#articles .articles-item .articles-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#articles .articles-item .articles-link .articles-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: #11dbba;
}

#articles .articles-item .articles-link .articles-hover:hover {
    opacity: 1;
}

#articles .articles-item .articles-link .articles-hover .articles-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#articles .articles-item .articles-link .articles-hover .articles-hover-content i {
    margin-top: -12px;
}

#articles .articles-item .articles-link .articles-hover .articles-hover-content h3,
#articles .articles-item .articles-link .articles-hover .articles-hover-content h4 {
    margin: 0;
}

#articles .articles-item .articles-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#articles .articles-item .articles-caption h4 {
    margin: 0;
    text-transform: none;
}

#articles .articles-item .articles-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#articles_Dash h5, #profil_Dash h5, #comms_Dash h5 {
    color: #00c0c7;
}

#articles_Dash .articles-caption, #profil_Dash .articles-caption, #comms_Dash .articles-caption {
    margin-top: 1%;
}

#articles_Dash .articles-caption p {
    font-size: 14px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.favorites-posts-links {
    margin-bottom: 0rem !important;
}

#articles * {
    z-index: 2;
}

.col-md-4.col-sm-6.card {
    border: 0px;
}

tr.role-dash-table {
    background-color: rgba(255, 119, 0, 0.25) !important;
}

.titre-dashboard-admin {
    text-align: center;
}

img.img_users_dashboard, img.img_posts_dashboard {
    max-width: 1700px
}

tr.email-dash-table {
    background-color: rgba(153, 153, 153, 0.42) !important;
}

.user-status-red {
    border: 1px solid red !important;
}

.user-status-green {
    border: 1px solid green !important;
}

.user-status-orange {
    border: 1px solid #ff7700 !important;
}

i.cgu-green {
    color: green !important;
}

.danger {
    color: red;
}

/** 767px */
@media (min-width: 767px) {
    #articles .articles-item {
        margin: 0 0 30px;
    }
}


.articles-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.articles-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}

.articles-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.articles-modal .modal-content p {
    margin-bottom: 30px;
}

.articles-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.articles-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.articles-modal .modal-content img {
    margin-bottom: 30px;
}

.articles-modal .modal-content button {
    cursor: pointer;
}

.articles-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.articles-modal .close-modal:hover {
    opacity: 0.3;
}

.articles-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
}

.articles-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
}

/** grands formats */
@media (min-width: 1900px) {
    .container.dashboard {
        max-width: 1740px;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
    body, .btn {
        font-size: 0.80rem;
    }

    .card-deck {
        width: 1190px;
    }

    input {
        width: 70px;
    }
}

@media (max-width: 1919px) {
    .card-deck.dash {
        width: 35%;
    }

    img {
        width: 100%;
    }

    .dropdown-menu {
        left: -100px;
    }

    .logo.menu {
        width: 90%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em .80em !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        line-height: 1.1;
    }

    div#profil_Dash {
        margin-bottom: 5%;
    }
}

@media (min-width: 992px) {
    #profil > .container > .row.d-flex.justify-content-around {
        flex-wrap: nowrap !important;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .card-deck.dash {
        width: 90%;
    }

    .card-deck.dash {
        margin-bottom: 5%;
    }

    section {
        padding-top: 50%;
    }
}

@media (min-width: 576px) {
    .card-deck {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

/** de 320px à 467px */
@media (min-width: 320px) and (max-width: 467px) {
    body p {
        font-size: 11px !important;
    }

    .page-section h2.section-heading {
        font-size: 30px !important;
    }

    h4 {
        font-size: 1.2rem !important;
    }

    .articles-modal .modal-content h2, .conditions-modal .modal-content h2 {
        font-size: 1.8rem !important;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 0.5em 0.5em !important;
    }

    header.masthead .intro-text .intro-heading {
        font-size: 40px!important;
    }

    .py-5 > .container > .row > .col-md-3.col-sm-6 > img.img-fluid.d-block.mx-auto {
        width: 200px;
    }

    .modal-dialog {
        width: 100%;
        max-width: 280px!important;
    }

    .container.views {
        margin-top: 20%;
    }

    cite.item-intro.text-muted, span, a, .blockquote-footer {
        font-size: 12px!important;
    }
}