<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <span class="copyright">Copyright &copy; Riwalenn Bas 2019</span>
            </div>
            <div class="col-md-6">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a class="conditions-link" data-toggle="modal" href="#conditionsModal">Conditions d'utilisation</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>